<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydsh.finance.web.dao.InvoiceDao">

    <!--&lt;!&ndash; 通用查询结果列 &ndash;&gt;-->
    <!--<sql id="base_column">-->
        <!--id, invoice_no, invoice_kind, invoice_type, invoice_amount, invoice_way, invoice_status, client_no, client_name, client_type, taxpayer_no, phone, mail, address, opening_bank, bank_account, create_id, create_time, examine, examine_opinion, express_company, express_no-->
    <!--</sql>-->

    <!--<select id="selectAllPage" resultMap="BaseResultMap" parameterType="java.util.Map" >-->
        <!--select-->
        <!--<include refid="show_column" />-->
        <!--from ${locationSchema}.pay_apply where status = 1-->
    <!--</select>-->

</mapper>